<!-- <html>
    <head>
    </head>
    <body>
        <link href="/static/mainstyle.css" rel="stylesheet"/>
        <h1> Main site </h1>

        <div class="snippet codecell">
        <label> Name of snippet</label> <br/>
        <button> Run </button> <button> Delete </button> <br/>
        <textarea>
            mycodehere
        </textarea>    
        </div>
        <div class="snippet codecell">
        <label> Name of snippet</label> <br/>
        <button> Run </button> <button> Delete </button> <br/>
        <textarea>
            mycodehere
        </textarea>    
        </div>
        <div class="snippet codecell">
        <label> Name of snippet</label> <br/>
        <button> Run </button> <button> Delete </button> <br/>
        <textarea>
            mycodehere
        </textarea>    
        </div>
        <div class="snippet markcell">
        <label> Name of snippet</label> <br/>
        <button> Edit </button> <button> Delete </button> <br/>
        <textarea>
            mycodehere
        </textarea>    
        </div>
    </body>
</html> -->