#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.snippet {
  display: block;
  padding: 8px;
  margin: 8px;
  width: 600px;
}

textarea {
  width: 100%;
}

.markcell {
  background-color: whitesmoke;
  color: black;
}

.codecell {
  background-color: black;
  color: green;
}